body{
    text-align: center;
}

.Apps{
    background-color: aqua;
    height: 800px;
    width: 100%;
}




.container{
    text-align: center;
}

#myCarousel{
    background-color: crimson;

}

#myCarousel img{
    height: 300px;
    margin-top: 35px;
}

#myCarousel2{
    background-color: darkorchid;

}